.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.search input {
  padding: 20px 40px;
  background: #ffffff;
  border: 0.5px solid #acebff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  outline: none;
}

.search input:focus {
  -webkit-box-shadow: 0px 20px 40px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 40px 4px rgba(0, 0, 0, 0.1);
}

.poke_container {
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.poke_container .pokemon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  background: linear-gradient(45deg, #e4f0ff, #e4fff6);
  border-radius: 33px;
  padding: 20px 20px;
  gap: 20px;
  -webkit-box-shadow: 0 10px 20px #ffeded;
          box-shadow: 0 10px 20px #ffeded;
  border: 0.5px solid #e3e3ff;
  cursor: pointer;
}

.poke_container .pokemon .pokeimg {
  width: 100px;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.poke_container .pokemon .name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.poke_container .pokemon .id {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal .popup {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border-radius: 22px;
  background: linear-gradient(45deg, #e4f0ff, #e4fff6);
  -webkit-box-shadow: 0 10px 20px #ffeded28;
          box-shadow: 0 10px 20px #ffeded28;
  border: 0.5px solid #e3e3ff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  gap: 20px;
}

.modal .popup figure {
  width: 80%;
  height: 80%;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0;
}

.modal .popup figure img {
  width: 100%;
  height: 100%;
}

.modal .popup .typeHeading,
.modal .popup .moveHeading {
  margin: 0;
}

.modal .popup .bug {
  color: #a8b820;
}

.modal .popup .dark {
  color: #705848;
}

.modal .popup .dragon {
  color: #7038f8;
}

.modal .popup .electric {
  color: #f8d030;
}

.modal .popup .fairy {
  color: #ee99ac;
}

.modal .popup .fighting {
  color: #c03028;
}

.modal .popup .fire {
  color: #f08030;
}

.modal .popup .flying {
  color: #a890f0;
}

.modal .popup .ghost {
  color: #705898;
}

.modal .popup .grass {
  color: #78c850;
}

.modal .popup .ground {
  color: #e0c068;
}

.modal .popup .ice {
  color: #98d8d8;
}

.modal .popup .normal {
  color: #a8a878;
}

.modal .popup .poisen {
  color: #a040a0;
}

.modal .popup .psychic {
  color: #f85888;
}

.modal .popup .rock {
  color: #b8a038;
}

.modal .popup .steel {
  color: #b8b8d0;
}

.modal .popup .water {
  color: #6890f0;
}

.modal .popup .typeHeading,
.modal .popup .moveHeading,
.modal .popup li,
.modal .popup p {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal .popup .moveHeading {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.modal .popup p {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.modal .popup li {
  list-style: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.modal .popup a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#d76868));
  background: linear-gradient(#d76868);
  color: #fffbfb;
  padding: 8px 16px;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */